# Default ignored files
/../../New-Hach-Tech /.idea/shelf/
/../../New-Hach-Tech /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../New-Hach-Tech /.idea/httpRequests/
# Datasource local storage ignored files
/../../New-Hach-Tech /.idea/dataSources/
/../../New-Hach-Tech /.idea/dataSources.local.xml
